<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="card col-md-6 offset-md-3 col-xl-4 offset-xl-4 p-0 shadow">
            <img src="https://res.cloudinary.com/dfvpybkta/image/upload/v1624232437/WorkoutPlaces/login-photo_udtyeh.jpg" class="card-img-top" alt="dumbells lying on the sports ground">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <form action="/login" method="POST" class="validated-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" name="username" id="username" autofocus required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-secondary index-view-btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>